@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700;800&display=swap');

:root {
  /* -------- VARIABLES --------- */
  /* Paleta Principal */
  --green-grass: #4FD16C;
  --blue-cerulean: #40BFE2;
  --red-coral: #FF5757;
  --black: #000000;

  /* Paleta Secundaria */
  --emerald-green: #01A070;
  --bright-cyan: #57DBFF;
  --light-grey: #DDDDDD;
  --white: #FFFFFF;

  /* Fondo de la App */
  --bg-dark: #0a0a0a;
  --bg-sidebar: #0c201a;

  /* -------- TIPOGRAFÍA --------- */
  --font-main: 'Gabarito', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  background-color: var(--bg-dark);
  color: var(--white);
}

*, *::before, *::after {
  box-sizing: inherit;
}
